* {
    color: #ccc;
    background-color: #242424;
}
QPushButton {
    border: none;
    background: transparent;
    border: 1px solid #363636;
    background: #363636;
}

QPushButton:hover {
    border: 1px solid #6d6e6c;
    background: #6d6e6c;
}

AdvTrees, QHeaderView {
    background: #2d2d2d;

}

QMenuBar::item:selected{
    background-color: #484848;
}

QMenu::item:selected, QTreeWidget::item:selected{
    background-color: #21486a;
}
